<nav class="navbar">
    <div class="container">
        <div class="header-container">
            <h3>Mini desafio</h3>
        </div>
        <div class="nav-links-container">
            <ul class="nav-links">
                <li>
                    <a [routerLink]="['/inicio']">
                        Inicio 
                        <mat-icon 
                            fontIcon="home">
                        </mat-icon>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/nueva-persona']">
                        Nueva persona
                        <mat-icon 
                            fontIcon="person_add">
                        </mat-icon>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
